# Visible
Bureau
Documents
Images
Musique
Public
Téléchargements
Vidéos

# Invisible
.bash_history
.bash_logout
.bash_rc
.cache
.gconf
.gnupg
.local
.mozilla
.pki
.ssh
.steam
.thunderbird

.gitconfig
.profile
.sudo_as_admin_successful
